<div class="row">
					<div class="col-md-2"></div>
                    <div class="col-md-8">

						<div class="panel panel-warning">
							<div class="panel-heading">
								<h3 class="panel-title">แก้ไขประเภทอุปกรณ์</h3>
							</div>
							<div class="panel-body">
							<form role="form">
								<input id="new_devicetype" class="form-control"  autofocus><br>
								<input id="input_code" class="form-control" ><br>
								<center><button id="summit_edit_devicetype" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> บันทึก</button>
								<a><button type="button" class="btn btn-danger" onclick="go_list_devicetype()"><i class="glyphicon glyphicon-remove"></i> ยกเลิก</button></a></center>
							</form>
							</div>
						</div>
                    </div>

                </div>
                 <!-- /. ROW  -->
                 <hr />