				<div class="row">
					<div class="col-md-2"></div>
                    <div class="col-md-8">

						<div class="panel panel-warning">
							<div class="panel-heading">
								<h3 class="panel-title">แก้ไขหมวดหมู่หลัก</h3>
							</div>
							<div class="panel-body">
							<form role="form">
								<input id="new_name" class="form-control"  autofocus><br>
								<center><button id="summit_main_category_name" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> บันทึก</button>
								<a href="list_category.html"><button type="button" class="btn btn-danger" onclick="go_main_category()"><i class="glyphicon glyphicon-remove"></i> ยกเลิก</button></a></center>
							</form>
							</div>
						</div>
                    </div>

                </div>
                 <!-- /. ROW  -->
                 <hr />