<div class="row">
				<div class="col-md-4">

				</div>
				<div class="col-md-6">
                    <h2>รายการสถานที่เก็บอุปกรณ์</h2>
				</div>
				<div class="col-md-2">
					<br><a><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-glyphicon glyphicon-plus"></i> เพื่มข้อมูล</button></a>
				</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<table id="table_list_place" class="table table-hover">
						</table>

					</div>
				</div>

                 <!-- /. ROW  -->
                 <hr />