<div class="row">
				<div class="col-md-4">

				</div>
				<div class="col-md-6">
                    <h2>รายการอุปกรณ์</h2>
				</div>
				<div class="col-md-2">
					<br><a><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-glyphicon glyphicon-plus"></i> เพื่มข้อมูล</button></a>
				</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<table id="big_table" class="table table-hover">
											<tr>
												<td></td>
												<td><input class="form-control"  placeholder="รหัสอุปกรณ์"/></td>
												<td><input class="form-control"  placeholder="ชื่ออุปกรณ์"/></td>
												<td>
													<select id="select_type" class="form-control">
														<option value = ''>ประเภทอุปกรณ์</option>
													</select>
												</td>
												<td>
													<select id="select_category" class="form-control" >
														<option value = ''>หมวดหมู่ย่อย</option>
													</select>
												</td>
												<td>
													<select id="select_place" class="form-control">
														<option value = ''>สถานที่เก็บ</option>
													</select>
												</td>

												<td>
													<button id="search_button"  type="button" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>

												</td>
											</tr>
											<tr>
												<th>#</th>
												<th>รหัสอุปกรณ์</th>
												<th>ชื่ออุปกรณ์</th>
												<th>ประเภทอุปกรณ์</th>
												<th>หมวดหมู่ย่อย</th>
												<th>สถานที่เก็บ</th>
												<th>การจัดการ</th>
											</tr>
										</table>

					</div>
				</div>

                 <!-- /. ROW  -->
                 <hr />