<div class="row">
				<div class="col-md-4">

				</div>
				<div class="col-md-6">
                    <h2>รายการหมวดหมู่หลัก</h2>
				</div>
				<div class="col-md-2">
					<a id="add_category"><br><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-glyphicon glyphicon-plus"></i> เพื่มข้อมูล</button></a>
				</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<table id="category_table" class="table table-hover">
						</table>

					</div>
				</div>

                 <!-- /. ROW  -->
                 <hr />