<div class="row">
				<div class="col-md-4">

				</div>
				<div class="col-md-6">
                    <h2>รายการอุปกรณ์</h2>
				</div>
				<div class="col-md-2">
					<br><a href="add_device.html"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-glyphicon glyphicon-plus"></i> เพื่มข้อมูล</button></a>
				</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<table class="table table-hover">
											<tr>
												<td></td>
												<td><input class="form-control"  placeholder="รหัสอุปกรณ์"/></td>
												<td><input class="form-control"  placeholder="ชื่ออุปกรณ์"/></td>
												<td>
													<select class="form-control">
														<option>ประเภทอุปกรณ์</option>
														<option>อิเล็กทรอนิกส์</option>
														<option>ไฟฟ้า</option>
														<option>บอร์ด</option>
													</select>
												</td>
												<td>
													<select class="form-control">
														<option></option>
														<option>หมวดปมู่ย่อย</option>
														<option>FIBO ROBO camp</option>
														<option>FRA101</option>
														<option>เเข่งขัน....</option>


													</select>
												</td>
												<td>
													<select class="form-control">
														<option></option>
														<option>สถานที่เก็บ</option>
														<option>FB201</option>
														<option>FB202</option>
														<option>FB203</option>


													</select>
												</td>

												<td>
													<button type="button" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>

												</td>
											</tr>
											<tr>
												<th>#</th>
												<th>รหัสอุปกรณ์</th>
												<th>ชื่ออุปกรณ์</th>
												<th>ประเภทอุปกรณ์</th>
												<th>หมวดหมู่ย่อย</th>
												<th>สถานที่เก็บ</th>
												<th>การจัดการ</th>
											</tr>

											<tr>
												<td>1</td>
												<td>EL101</td>
												<td>IC</td>
												<td>อิเล็คทรอนิกส์</td>
												<td>FIBO ROBO camp</td>
												<td>FB101</td>
												<td>
													<a href="edit_device.html"><button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></button></a>
													<button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
												</td>
											</tr>
											<tr>
												<td>2</td>
												<td>EL101</td>
												<td>IC</td>
												<td>อิเล็คทรอนิกส์</td>
												<td>FIBO ROBO camp</td>
												<td>FB101</td>
												<td>
													<a href="edit_device.html"><button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></button></a>
													<button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
												</td>
											</tr>
											<tr>
												<td>3</td>
												<td>EL101</td>
												<td>IC</td>
												<td>อิเล็คทรอนิกส์</td>
												<td>FIBO ROBO camp</td>
												<td>FB101</td>
												<td>
													<a href="edit_device.html"><button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></button></a>
													<button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
												</td>
											</tr>
											<tr>
												<td>4</td>
												<td>EL101</td>
												<td>IC</td>
												<td>อิเล็คทรอนิกส์</td>
												<td>FIBO ROBO camp</td>
												<td>FB101</td>

												<td>
													<a href="edit_device.html"><button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></button></a>
													<button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
												</td>
											</tr>
										</table>

					</div>
				</div>

                 <!-- /. ROW  -->
                 <hr />